.grid{
    display: grid;
}
.grid{
    display: grid;
    margin-bottom: 16%;
    margin-right: 30%;
    margin-top: 6%;
    margin-left: 30%;
    border-radius: 6px;
    padding: auto;
    gap: 2px;
    grid-auto-flow: dense;
    border-radius: 6px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "header"
    "nav"
}
@media screen and (max-width:768px){
    .grid {grid-template-areas: 
        "header"
        "nav"}
    .nav{
        display:inline-block;
        padding-top: auto; }
    .p {
            margin-left: 40%;
            margin-right: 1%;
        }
}
@media (min-width:768px) and (max-width:1450px ){
    .grid{
        grid-auto-columns: auto-fit(1fr);
        grid-template-areas:
        "header"
        "nav"
    }
    .nav{
        align-items: center;
        margin: auto;
        display: inline-table;
    }
}
.header{
    padding: 9%;
    border-radius: 6px;
    font-size: 25px;
    font-family: sans-serif;
    background-color: rgba(241, 199, 122, 0.781);
}

.nav{
    margin-bottom: 8%;
    background-color: rgb(115,115,201,0.767);
    margin-top:  8px;
    padding: 80px;
    border-radius: 6px;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 6px;
    padding-right: 20px;
}
p,a{
    padding: 2%;
    margin-inline: 6px;
}
p{
    margin-right: 10px;
}
a{
     margin-left: 20%;
}

.grid{
    background-image: url("personaenauto1.png");

}